.logInSignUp {
  width: 100%;
  min-height: 80vh;
  background-color: #ddece2; /* такой же, как navbar */
  padding: 100px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
}

/* Контейнер самой формы */
.logInSignUp-container {
  width: 580px;
  background: white;
  padding: 40px 60px;
  border-radius: 10px;
  box-shadow: 0 8px 30px rgba(252, 227, 252, 0.5);
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 600px;
}

.logInSignUp-container h1 {
  margin: 0 0 20px 0;
  font-weight: 700;
  font-size: 28px;
  color: #000;
}

.logInSignUp-fields {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.logInSignUp-fields input {
  height: 48px;
  width: 100%;
  padding-left: 15px;
  border: 1px solid #ddd;
  border-radius: 5px;
  outline: none;
  color: #555;
  font-size: 16px;
  font-weight: 400;
  box-sizing: border-box;
  transition: border-color 0.3s ease;
}

.logInSignUp-fields input:focus {
  border-color: #18d657;
}

.logInSignUp-agree {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
}

.logInSignUp-agree input[type="checkbox"] {
  width: 16px;
  height: 16px;
  cursor: pointer;
}

.logInSignUp-container button {
  width: 100%;
  height: 48px;
  background: #328b56; /* Зеленая кнопка */
  border: none;
  border-radius: 6px;
  color: white;
  font-size: 18px;
  font-weight: 600;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.logInSignUp-container button:hover {
  background-color: #276a44;
}

.logInSignUp-login {
  margin-top: 20px;
  font-size: 14px;
  color: #555;
  font-weight: 400;
  text-align: center;
}

.logInSignUp-login span {
  color: #328b56;
  font-weight: 600;
  cursor: pointer;
  text-decoration: underline;
}

/* Адаптив для мобильных устройств */
@media (max-width: 600px) {
  .logInSignUp-container {
    width: 90%;
    padding: 20px;
    height: auto;
  }

  .logInSignUp-container h1 {
    font-size: 24px;
  }

  .logInSignUp-fields input {
    height: 40px;
    font-size: 14px;
  }

  .logInSignUp-container button {
    height: 40px;
    font-size: 16px;
  }

  .logInSignUp-login {
    font-size: 12px;
  }
}
