.item {
    width: 350px;
    border: 1px solid #15e45e; /* светло-зеленая рамка */
    border-radius: 15px; /* скругление углов */
    padding: 10px;
    box-sizing: border-box;
    background-color: #fff;
    box-shadow: 0 4px 12px rgba(71, 232, 119, 0.08); /* легкая тень */
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    cursor: pointer;
}

.item img {
    width: 100%;
    border-radius: 15px 15px 0 0; /* скругление верхних углов */
    object-fit: cover;
    user-select: none;
}

.item p {
    margin: 12px 0 6px 0;
    font-weight: 600;
    font-size: 16px;
    color: #222;
}

.item-prices {
    display: flex;
    gap: 20px;
    align-items: center;
}

.item-price-new {
    color: #478048;
    font-size: 18px;
    font-weight: 600;
}

.item-price-old {
    color: #8c8c8c;
    font-size: 16px;
    font-weight: 500;
    text-decoration: line-through;
}

/* Эффект при наведении */
.item:hover {
    transform: scale(1.05);
    box-shadow: 0 10px 25px rgba(0,0,0,0.15);
}
